@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap");

 .grid{
  display: grid;
  width: 100vw;
  height: 60vh;
  grid-template-columns: 442px, 442px, 442px;
  grid-template-rows: 136px, 136px, 136px;

 }

/* .grid-2{
  display: grid;
  width: 100vw;
  height: 60vh;
  grid-template-columns: 663px, 663px, 633px;
  grid-template-rows: 113.3px, 113.3px, 113.3px;
  } */



main img{
  width: 20%;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right:  auto;
}



section img{
  width: 25%;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: inherit;
}


/* This is the "hero" img*/
header img{
  width: 10px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/* end of "hero" img*/


/* start of nav bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #afc2fb;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #92a1ce;
}

.active {
  background-color: #FFD040;
}

.main-nav{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}



/* end of nav bar*/



.sr-only{
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}




/* This is for title only */

.title{
  font-size: 250%;
  line-height: 25px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #fcd868;
}


/* This is the end of title of page */



main ul{
  color: #23236b;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  text-transform: capitalize;
  grid-area: main;
  list-style-type: circle;
  text-align: left;
  /* width: 300px;
 border: 5px;
 padding: 25px;
 margin: 20px; */
}




 h1, h2, h3{

  font-family: 'Shadows Into Light Two', cursive;
  color: #d09cd8;
}


 h4{
      /* position: absolute;
   top: 550px;
   right: 0;
   width: 300px;
  border: 5px;
  padding: 5px;
  margin: 20px;*/
  font-family:'Shadows Into Light Two', cursive;
  color: #d3a2db;
 }

  /*
div{
  position: absolute;
  top: 600px;
  right: 0;
}

.a {
  width: 300px;
 border: 5px;
 padding: 15px;
 margin: 20px;
}
/* end goal paragraph */

.shadows {
-webkit-box-shadow: 0px 10px 13px -7px #000000, 19px 19px 27px -12px rgba(0,0,0,0.43);
box-shadow: 0px 10px 13px -7px #000000, 19px 19px 27px -12px rgba(0,0,0,0.43);
}

/* This is for all text */
 .paragraph{
   width: 300px;
  padding: 5px;
  margin: 20px;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Inconsolata', monospace;
  color:#23236b;
}

.link{
  width: 300px;
 padding: 5px;
 margin: 20px;
 font-size: 15px;
 line-height: 25px;
 font-family: 'Inconsolata', monospace;
 color:#5b6c9b;
}


footer{
  grid-area: footer;
  font-family: 'Shadows Into Light Two', cursive;
  color: #445070;
}
